.colorRed{
    color: #f45;
}
/*head*/
.head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #289e85;
    line-height: 50px;
    z-index: 999;
}
.wrap{
    position: relative;
    margin: 0 auto;
    width: 1160px;
    padding: 0 20px;
}
.head .logo{
    float: left;
    height: 50px;
    overflow: hidden;
    margin-right: 30px;
}
.head .logo a{
    font-size: 20px;
    color: #fff;
}
.head .logo a:hover{
    text-decoration:none;
}
.head .menu{
    float: left;
}
.head .menu li{
    float: left;
    padding: 0 10px;
}
.head .menu li a{
    display: block;
    padding: 0 10px;
    color: #fff;
}
.head .menu li a:hover,.head .menu li a.click{
    color: #289e85;
    background: #fff;
}
.head .moreLink{
    position: relative;
    float: right;
    width: 100px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.head .moreLink .linkList{
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    line-height: 30px;
    background: #289e85;
    border-radius: 0 0 2px 2px;
    z-index: 999;
}
.head .moreLink:hover .linkList{
    display: block;
    width: 100%;
}
.head .moreLink .linkList a{
    display: block;
    color: #fff;
    white-space: nowrap;
}
.head .moreLink .linkList a:hover{
    background: #32BA9D;
}
/*end head*/

/*end subMenu*/
.subMenu{
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    line-height: 30px;
    padding: 15px 0;
    background: #333;
    z-index: 9;
}
.subMenu .subTitle{
    float: left;
    margin: 5px 0;
    color: #fff;
}
.subMenu ul {
    display: table-cell;
    width: 9999px;
    *display: inline-block;
    *width: auto;
}
.subMenu li{
    float: left;
    margin: 5px;
}
.subMenu li a{
    display: block;
    padding: 0 10px;
    color: #666;
    background: #fff;
    border-radius: 2px;
}
.subMenu li a:hover, .subMenu li a.click{
    color: #fff;
    background: #289e85;
}
/*end subMenu*/

/*container*/
.container{
    padding: 140px 0 50px 0;
}
.container .contBox{
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    background: #eee;
}
.container .contBox .anchor{
    position: absolute;
    top: -140px;
    left: 0;
}
.container .contBox h4{
    margin-bottom:16px;
    font-size: 16px;
    text-indent: 5px;
    border-left: 4px solid #666;
    line-height: 16px;
}
/*end container*/

/*tableNo1*/
.tableNo1{
    width: 100%;
    margin-top:20px;
    background: #fff;
}
.tableNo1 a{
    text-decoration: underline;
}
.tableNo1 th,.tableNo1 td{
    height: 20px;
    padding: 8px 10px;
    border: 1px solid #e8e8e8;
}
.tableNo1 tr td:first-child{
    text-align: right;
}
.tableNo1 tr:hover td{
    background: #fafafa;
}
/*end tableNo1*/

/*foot*/
.foot{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #333;
    line-height: 50px;
}
.foot a{
    color: #ccc;
    margin-right: 20px;
}
.foot .menu{
    float: left;
}
.foot .menu li{
    float: left;
    padding: 0 10px;
}
.foot .menu li a{
    display: block;
    padding: 0 10px;
    color: #fff;
}
.foot .menu li a:hover,.foot .menu li a.click{
    color: #333;
    background: #fff;
}
.return-top{
    bottom: 70px;
    right: 50%;
    margin-right: -650px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #289e85;
    border-radius: 2px;
}
/*end foot*/