<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/common.css"/>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/scrollTopControl.js"></script>
    <script src="../js/common.js"></script>
</head>
<body>
<div class="head"></div>
<div class="subMenu">
    <div class="wrap">
        <div class="subTitle">VueJS专区：</div>
        <ul>
            <li><a href="#01" class="click">VueJS简介</a></li>
            <li><a href="#02">VueJS用法</a></li>
            <li><a href="#03">vue-cli</a></li>
            <li><a href="#04">移动端</a></li>
            <li><a href="#05">扩展</a></li>
            <li><a href="#06">其他</a></li>
        </ul>
    </div>
</div>
<div class="container fn-clear">
    <div class="wrap">
        <div class="contBox">
            <i id="01" class="anchor"></i>
            <h4>VueJS简介</h4>
            <p>VueJS学习起来非常简单，但需要了解的知识：HTML、CSS、JavaScript。</p>
            <p>1、VueJS 是一套构建用户界面的渐进式框架；</p>
            <p>2、VueJS 只关注视图层， 采用自底向上增量开发的设计；</p>
            <p>3、VueJS 的目标是通过尽可能简单的 API 实现响应的数据绑定和组合的视图组件。</p>
        </div>
        <div class="contBox">
            <i id="02" class="anchor"></i>
            <h4>VueJS用法</h4>
            <table class="tableNo1">
                <tr>
                    <th colspan="2"><b>VueJS 指令</b></th>
                </tr>
                <tr>
                    <td width="25%"><b>代码</b></td>
                    <td><b>描述</b></td>
                </tr>
                <tr>
                    <td>v-model</td>
                    <td>绑定指令<span class="fn-right">v-model="message"</span></td>
                </tr>
                <tr>
                    <td>v-if</td>
                    <td>条件渲染指令<span class="fn-right">v-if="yes"</span></td>
                </tr>
                <tr>
                    <td>v-show</td>
                    <td>也是条件渲染指令，会被渲染，改变display的值<span class="fn-right">v-show="yes"</span></td>
                </tr>
                <tr>
                    <td>v-else</td>
                    <td>v-else元素必须立即跟在v-if后面<span class="fn-right"></span></td>
                </tr>
                <tr>
                    <td>v-for</td>
                    <td>指令基于一个数组渲染一个列表<span class="fn-right">v-for="item in items"</span></td>
                </tr>
                <tr>
                    <td>v-bind</td>
                    <td>指令可以在其名称后面带一个参数<span class="fn-right">v-bind:class="activeNumber === 1 ? 'current' : ''"</br>:class="activeNumber === 1 ? 'current' : ''"</span></td>
                </tr>
                <tr>
                    <td>v-on</td>
                    <td>指令用于给监听DOM事件<span class="fn-right">v-on:click="createPerson"</br>@click="createPerson"</span></td>
                </tr>
            </table>
        </div>
        <div class="contBox">
            <i id="03" class="anchor"></i>
            <h4>vue-cli</h4>
            <table class="tableNo1">
                <tr>
                    <th colspan="2"><b>脚手架搭建</b></th>
                </tr>
                <tr>
                    <td width="25%"><b>描述</b></td>
                    <td><b>代码</b></td>
                </tr>
                <tr>
                    <td>准备</td>
                    <td>npm install vue-cli -g<span class="fn-right">确保已全局安装node、npm</span></td>
                </tr>
                <tr>
                    <td>下载</td>
                    <td>vue init webpack my-project<span class="fn-right">下载脚手架项目</span></td>
                </tr>
                <tr>
                    <td>运行</td>
                    <td>npm start<span class="fn-right">把服务跑起来</span></td>
                </tr>
            </table>
            <table class="tableNo1">
                <tr>
                    <th colspan="2"><b>初始配置</b></th>
                </tr>
                <tr>
                    <td width="25%"><b>描述</b></td>
                    <td><b>代码</b></td>
                </tr>
                <tr>
                    <td>路由去掉“#”</td>
                    <td>
                        修改文件：main.js/routes.js<br>
                        const router = new VueRouter({<br>
                        &nbsp;&nbsp;mode: 'history',<br>
                        &nbsp;&nbsp;routes: [...]<br>
                        })
                    </td>
                </tr>
                <tr>
                    <td>scss预编译</td>
                    <td>
                        安装模块：<br>
                        npm install --save-dev sass-loader<br>
                        npm install --save-dev node-sass<br>
                        修改文件：./build/webpack.base.conf.js<br>
                        {<br>
                        &nbsp;&nbsp;test: /\.sass$/,<br>
                        &nbsp;&nbsp;loaders: ['style', 'css', 'sass']<br>
                        }<br>
                        修改文件：xxx.vue<br>
                        style lang='scss'
                    </td>
                </tr>
                <tr>
                    <td>$orange等参数</td>
                    <td>
                        安装模块：<br>
                        npm install --save-dev sass-resources-loader<br>
                        修改文件：./build/utils.js<br>
                        scss: generateLoaders('sass').concat(<br>
                        &nbsp;&nbsp;{<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;loader: 'sass-resources-loader',<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;options: {<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;resources: path.resolve(__dirname, '../src/assets/style/_config.scss')<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;}<br>
                        &nbsp;&nbsp;}<br>
                        ),
                    </td>
                </tr>
                <tr>
                    <td>接口代理，解决跨域的问题</td>
                    <td>
                        修改文件：./build/index.js<br>
                        proxyTable: {<br>
                        &nbsp;&nbsp;'/lots-web/**': {<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;target: 'http://localhost:8080' // 接口的域名<br>
                        &nbsp;&nbsp;}<br>
                        },<br>
                        // 更改端口<br>
                        port: 6001,<br>
                        // 是否在编译（输入命令行npm run dev）后打开浏览器http://localhost:6001<br>
                        autoOpenBrowser: false,
                    </td>
                </tr>
                <tr>
                    <td>router-link组件的active设置</td>
                    <td>
                        全局设置：<br>
                        export default new VueRouter({<br>
                        &nbsp;&nbsp;linkActiveClass: 'active',<br>
                        &nbsp;&nbsp;linkExactActiveClass: 'active',<br>
                        &nbsp;&nbsp;routes : [<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;... 省略<br>
                        &nbsp;&nbsp;]<br>
                        });<br>
                        局部设置：<br>
                        &lt;router-link :to="'home'" tag="li" active-class="active" exact-active-class="active" exact&gt;&lt标题router-link&gt;<br>
                        // 加上exact 则遵循路由完全一致模式，该路由下的路径不匹配
                    </td>
                </tr>
            </table>
        </div>
        <div class="contBox">
            <i id="04" class="anchor"></i>
            <h4>移动端</h4>
            <table class="tableNo1">
                <tr>
                    <th colspan="2"><b>移动端初始配置</b></th>
                </tr>
                <tr>
                    <td width="25%"><b>描述</b></td>
                    <td><b>代码</b></td>
                </tr>
                <tr>
                    <td>缩放比例</td>
                    <td>
                        修改文件：index.html
                        meta minimum-scale=1.0, maximum-scale=1.0, user-scalable=no
                    </td>
                </tr>
                <tr>
                    <td>初始化样式</td>
                    <td>reset.css</td>
                </tr>
                <tr>
                    <td>1px像素设备不一致</td>
                    <td>borer.css</td>
                </tr>
                <tr>
                    <td>延迟300ms</td>
                    <td>
                        模块 fast-click 解决移动端事件延迟300ms<br>
                        main.js文件加入：
                        fastClick.attach(document.body)
                    </td>
                </tr>
                <tr>
                    <td>stylus运用</td>
                    <td>
                        模块 stylus stylus-loader 类似scss预编译<br>
                        xxx.vue文件：<br>
                        style lang="stylus"
                    </td>
                </tr>
            </table>
        </div>
        <div class="contBox">
            <i id="05" class="anchor"></i>
            <h4>扩展</h4>
            <table class="tableNo1">
                <tr>
                    <th colspan="2"><b>开发环境本地数据挂载</b></th>
                </tr>
                <tr>
                    <td width="25%"><b>描述</b></td>
                    <td><b>代码</b></td>
                </tr>
                <tr>
                    <td>json数据文件路径</td>
                    <td>static/mock/index.json</td>
                </tr>
                <tr>
                    <td>修改对应配置</td>
                    <td>
                        修改 ./config/index.js：<br>
                        proxyTable: {<br>
                        &nbsp;&nbsp;'/api': {<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;target: 'http://localhost:9000',<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;pathRewrite: {<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;'^/api': '/static/mock'<br>
                        &nbsp;&nbsp;}<br>
                        &nbsp;&nbsp;}<br>
                        },
                    </td>
                </tr>
            </table>
            <table class="tableNo1">
                <tr>
                    <th colspan="2"><b>axios接口调用</b></th>
                </tr>
                <tr>
                    <td width="25%"><b>描述</b></td>
                    <td><b>代码</b></td>
                </tr>
                <tr>
                    <td>全局调用</td>
                    <td>
                        修改main.js文件<br>
                        Vue.prototype.$ajax = axios<br>
                        xxx.vue文件：<br>
                        this.$ajax.get('/api/index.json', {params: {...}}).then(fn(data)).catch(fn(data));
                    </td>
                </tr>
                <tr>
                    <td>局部调用</td>
                    <td>
                        xxx.vue文件：<br>
                        import axios from 'axios'<br>
                        axios.get('/api/index.json').then(fn(data)).catch(fn(data));
                    </td>
                </tr>
            </table>
            <table class="tableNo1">
                <tr>
                    <th colspan="2"><b>iconfont字体图标</b></th>
                </tr>
                <tr>
                    <td width="25%"><b>描述</b></td>
                    <td><b>代码</b></td>
                </tr>
                <tr>
                    <td>网址</td>
                    <td>
                        <a href="http://www.iconfont.cn" target="_blank">http://www.iconfont.cn</a>
                    </td>
                </tr>
                <tr>
                    <td>步骤</td>
                    <td>
                        选择图标加入购物车 →<br>
                        添加到项目 →<br>
                        下载到本地 →<br>
                        字体和css复制到项目 →<br>
                        更改iconfont目录和删除代码 →<br>
                        引入iconfont.css →<br>
                        &lt;span class="iconfont user-icon">&#x e624;&gt;&lt;span&gt;
                    </td>
                </tr>
            </table>
            <table class="tableNo1">
                <tr>
                    <th colspan="2"><b>swiper图片轮播</b></th>
                </tr>
                <tr>
                    <td width="25%"><b>描述</b></td>
                    <td><b>代码</b></td>
                </tr>
                <tr>
                    <td>网址</td>
                    <td>
                        <a href="https://www.swiper.com.cn/" target="_blank">https://www.swiper.com.cn/</a>
                    </td>
                </tr>
                <tr>
                    <td>步骤</td>
                    <td>
                        模块 vue-awesome-swiper 轮播插件<br>
                        修改main.js：<br>
                        import "swiper/dist/css/swiper.css"<br>
                        Vue.use(VueAwesomeSwiper)<br>
                        xxx.vue文件：<br>
                        &lt;swiper :options="swiperOption" v-if="hasBanner"&gt;<br>
                        &nbsp;&nbsp;&lt;swiper-slide v-for="item in list"&gt;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;img :src="item.imgUrl"&gt;<br>
                        &nbsp;&nbsp;&lt;/swiper-slide&gt;<br>
                        &nbsp;&nbsp;&lt;div class="swiper-pagination" slot="pagination"&gt;&lt;/div&gt;<br>
                        &lt;/swiper&gt;
                    </td>
                </tr>
            </table>
            <table class="tableNo1">
                <tr>
                    <th colspan="2"><b>better-scroll滚动界面</b></th>
                </tr>
                <tr>
                    <td width="25%"><b>描述</b></td>
                    <td><b>代码</b></td>
                </tr>
                <tr>
                    <td>全局</td>
                    <td>
                        修改main.js文件：<br>
                        import BScroll from 'better-scroll'<br>
                        Vue.prototype.$scroll= BScroll<br>
                        xxx.vue文件：<br>
                        mounted() {<br>
                        &nbsp;&nbsp;this.scroll = new this.$scroll(elevent); // element为dom或$refs<br>
                        },
                    </td>
                </tr>
                <tr>
                    <td>局部</td>
                    <td>
                        xxx.vue文件：<br>
                        import BScroll from 'better-scroll'<br>
                        this.scrolll = new BScroll(this.$refs.wrapper)
                    </td>
                </tr>
            </table>
            <table class="tableNo1">
                <tr>
                    <th colspan="2"><b>keep-alive数据缓存</b></th>
                </tr>
                <tr>
                    <td width="25%"><b>描述</b></td>
                    <td><b>代码</b></td>
                </tr>
                <tr>
                    <td>用法</td>
                    <td>
                        &lt;keep-alive&gt;<br>
                        &nbsp;&nbsp;&lt;router-view/&gt;<br>
                        &lt;/keep-alive&gt;<br>
                        1、如不填，则缓存全部组件<br>
                        2、keep-alive include="City"，缓存name='City'的组件<br>
                        3、keep-alive exclude="Detail"，不缓存name='Detail'的组件
                    </td>
                </tr>
            </table>
        </div>
        <div class="contBox">
            <i id="06" class="anchor"></i>
            <h4>其他</h4>
            <table class="tableNo1">
                <tr>
                    <th colspan="2"><b>其他</b></th>
                </tr>
                <tr>
                    <td width="25%"><b>描述</b></td>
                    <td><b>代码</b></td>
                </tr>
                <tr>
                    <td>子父组件传值</td>
                    <td>
                        子组件：<br>
                        handleClick(){<br>
                        &nbsp;&nbsp;this.$emit('change', value)<br>
                        }<br>
                        父组件：<br>
                        &lt;component @change="handleClick"&gt;&lt;/component&gt;<br>
                        handleClick(){}
                    </td>
                </tr>
                <tr>
                    <td>定位到某个元素</td>
                    <td>
                        this.scroll.scrollToElement(element)
                    </td>
                </tr>
                <tr>
                    <td>利用setTimeout节流</td>
                    <td>
                        if(this.timer) clearTimeout(timer);<br>
                        this.timer = setTimeout(()=>{<br>
                        &nbsp;&nbsp;console.log(''xxx')<br>
                        }, 16);
                    </td>
                </tr>
                <tr>
                    <td>生命周期</td>
                    <td>
                        activated 当组件被激活的时候调用<br>
                        deactivated 当组件被移除的时候调用
                    </td>
                </tr>
                <tr>
                    <td>滚动监听</td>
                    <td>
                        window.addEventListener('scroll', this.handleScroll);
                    </td>
                </tr>
                <tr>
                    <td>保持界面在顶部位置</td>
                    <td>
                        vue-router 滚动行为，路由跳转确保界面在顶部位置<br>
                        scrollBehavior (to, from, savedPosition) {<br>
                        &nbsp;&nbsp;return { x: 0, y: 0 }<br>
                        }
                    </td>
                </tr>
                <tr>
                    <td>组件里name的作用</td>
                    <td>
                        1、递归组件会用到<br>
                        2、取消缓存的时候会用到<br>
                        3、浏览器vue插件显示组件的时候用到
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="foot"></div>
</body>
</html>